:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.45;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  border-radius: 0;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background: #fff;
  color: #000;
}

body {
  min-width: 320px;
}

button,
input {
  font: inherit;
}
